@{
    ViewBag.Title = "Your email has been confirmed";
    ViewBag.Description = "Twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>A confirmation email has been sent to the address that you provided.</h3>
                <p>Please allow a few minutes for the email to arrive. If you don't see it, check your spam folders.</p>
                <p>Please be aware that you will not be able to participate in the community until you confirm your email address.</p>
            </div>
        </div>
    </div>
</div>
