<p>
    <a href="#">jskiles1</a> completed the challenge <a href="#" class="label label-primary">Bring Out Your Dead</a>
    <br />
    <small>3 minutes ago</small>
</p>
<p>
    <a href="#">jskiles1</a> defeated <a href="#">joanne123</a> in a game of <a href="#" class="label label-primary">Chicken</a>
    <br />
    <small>5 hours ago</small>
</p>
<p>
    <a href="#">jskiles1</a> made an announcement: <strong>all I do is win!</strong>
    <br />
    <small>7 hours ago</small>
</p>