@model TwolipsDating.ViewModels.ProfileFeedViewModel

@if (Model.Items.Count > 0)
{
    foreach (var feedItem in Model.Items)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.UploadedPictures)
                {
                    Html.RenderPartial("_FeedItemUploadedPicturesPartial", feedItem.UploadedImageFeedItem);
                }
                else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.ReviewWritten)
                {
                    Html.RenderPartial("_FeedItemReviewWrittenPartial", feedItem.ReviewWrittenFeedItem);
                }
                else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.GiftTransaction)
                {
                    Html.RenderPartial("_FeedItemGiftTransactionPartial", feedItem.GiftReceivedFeedItem);
                }
                else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.QuizCompletion)
                {
                    Html.RenderPartial("_FeedItemCompletedQuizPartial", feedItem.CompletedQuizFeedItem);
                }
                else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.TagSuggestion)
                {
                    Html.RenderPartial("_FeedItemTagSuggestionPartial", feedItem.TagSuggestionReceivedFeedItem);
                }
                else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.AchievementObtained)
                {
                    Html.RenderPartial("_FeedItemAchievementPartial", feedItem.AchievementFeedItem);
                }
            </div>
        </div>
    }
}
else
{
    if (Model.CurrentUserId == Model.ProfileUserId)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>You haven't done anything yet. Go answer some @Html.ActionLink("trivia questions", "index", "trivia").</h4>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>This user hasn't done anything yet. Send them a message to get things rolling.</h4>
            </div>
        </div>
    }
}
