@model TwolipsDating.ViewModels.ProfileInventoryViewModel

@if (Model != null && Model.Items.Count > 0)
{
    foreach (var item in Model.Items)
    {
        for (int i = 0; i < item.ItemCount; i++)
        {
            <div class="col-md-2">
                <img alt="@item.GiftName" title="@item.GiftName" src="@item.GiftIconFilePath" />
            </div>
        }
    }
}
else
{
    if (Model.CurrentUserId == Model.ProfileUserId)
    {
        <h4>You don't have any items. You should really change that.</h4>
    }
    else
    {
        <h4>This user doesn't have any items. If you send a gift, they might just return the favor.</h4>
    }
}