@model TwolipsDating.ViewModels.AchievementManagerViewModel

@{
    ViewBag.Title = "Your achievements";
}

<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <i class="glyphicon glyphicon-stats"></i> Achievements
            </div>
        </div>
        <div class="panel-body">
            @foreach (var achievement in Model.Achievements)
            {
                @Html.Partial("_AchievementOverviewPartial", achievement)
            }
        </div>
    </div>
</div>