@model TwolipsDating.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "twolips - your profile";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="glyphicon glyphicon-user"></i>&nbsp;Profile&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i>&nbsp;Dashboard</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;Profile</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-search"></i>&nbsp;Search</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-tower"></i>&nbsp;Challenges</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i>&nbsp;Settings</a></li>
            </ul>
        </div>
        <div class="pull-right">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#" title="Send a gift"><i class="glyphicon glyphicon-gift"></i></a></li>
                <li role="presentation"><a href="#" title="Write a review"><i class="glyphicon glyphicon-edit"></i></a></li>
                <li role="presentation"><a href="#" title="Send a challenge"><i class="glyphicon glyphicon-tower"></i></a></li>
                <li role="presentation"><a href="#" title="Add to ignore"><i class="glyphicon glyphicon-volume-off"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <img src="http://placehold.it/128x128">
                    <h3>jskiles1</h3>
                    <h5>30&nbsp;&bull;&nbsp;Man&nbsp;&bull;&nbsp;Orlando, FL</h5>
                </div>
                <div class="text-center" style="margin-top: 20px;">
                    <p>
                        <span style="margin-right: 10px;">
                            <button class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-heart"></i></button>&nbsp;3472
                        </span>
                        <span style="margin-right: 10px;"><button class="btn btn-success btn-xs"><i class="glyphicon glyphicon-thumbs-up"></i></button>&nbsp;51</span>
                        <button class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-thumbs-down"></i></button>&nbsp;7
                    </p>
                </div>
                <hr />
                <h4><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Self tagged as</h4>
                <div class="tags">
                    <a href="#" class="btn btn-default btn-xs" title="a clever one">
                        intellectual
                    </a>
                    <a href="#" class="btn btn-default btn-xs" title="a clever one">
                        wizard
                    </a>
                    <a href="#" class="btn btn-default btn-xs" title="a clever one">
                        challenge master
                    </a>
                    <a href="#" class="btn btn-default btn-xs" title="a clever one">
                        pro gamer
                    </a>
                </div>
                <h4><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Others tagged as</h4>
                <div class="tags">
                    <a href="#" class="btn btn-default btn-xs" title="a clever one">
                        intellectual
                    </a>
                    <a href="#" class="btn btn-default btn-xs" title="a clever one">
                        bookworm
                    </a>
                    <a href="#" class="btn btn-default btn-xs" title="a clever one">
                        responsive
                    </a>
                    <a href="#" class="btn btn-default btn-xs" title="a clever one">
                        pro gamer
                    </a>
                    <a href="#" class="btn btn-default btn-xs" title="a clever one">
                        nerdy
                    </a>
                    <a href="#" class="btn btn-default btn-xs" title="a clever one">
                        reliable
                    </a>
                </div>
                <hr />
                <h4><i class="glyphicon glyphicon-book"></i>&nbsp;&nbsp;Badges</h4>
                <span class="label label-danger"><i class="glyphicon glyphicon-apple"></i></span>
                <span class="label label-success"><i class="glyphicon glyphicon-music"></i></span>
                <span class="label label-info"><i class="glyphicon glyphicon-knight"></i></span>
                <span class="label label-info"><i class="glyphicon glyphicon-king"></i></span>
                <span class="label label-warning"><i class="glyphicon glyphicon-baby-formula"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Feed</a></li>
                    <li role="presentation"><a href="#">Pictures</a></li>
                    <li role="presentation"><a href="#">Reviews</a></li>
                    <li role="presentation"><a href="#">Reviews</a></li>
                    <li role="presentation"><a href="#">Stats</a></li>
                    <li role="presentation"><a href="#">Trophy Room</a></li>
                </ul>
                <hr />
                <p>
                    <a href="#">jskiles1</a> completed the challenge <a href="#">Bring Out Your Dead</a>
                    <br />
                    <small>3 minutes ago</small>
                </p>
                <p>
                    <a href="#">jskiles1</a> defeated <a href="#">joanne123</a> in a game of <a href="#">Chicken</a>
                    <br />
                    <small>5 hours ago</small>
                </p>
                <p>
                    <a href="#">jskiles1</a> made an announcement: <strong>all I do is win!</strong>
                    <br />
                    <small>7 hours ago</small>
                </p>
            </div>
        </div>
    </div>
</div>