@using TwolipsDating.ViewModels
@model StoreViewModel

@{
    ViewBag.Title = "twolips - browse the store";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
    ViewBag.ImageUrl = Url.Content("~/Content/twolipsicon-white-180x180.png");
}

<div class="row">
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="glyphicon glyphicon-tint"></i> <a href="#">Colors</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="glyphicon glyphicon-tag"></i> @Html.ActionLink("Titles", "titles")
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="glyphicon glyphicon-gift"></i> @Html.ActionLink("Gifts", "gifts")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

    </script>
}