@using TwolipsDating.ViewModels
@model StoreViewModel

@{
    ViewBag.Title = "twolips - points store";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = ActiveMenuText.Store })
    </div>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="glyphicon glyphicon-tint"></i> <a href="#">Colors</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="glyphicon glyphicon-tag"></i> @Html.ActionLink("Titles", "titles")
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="glyphicon glyphicon-gift"></i> @Html.ActionLink("Gifts", "gifts")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

    </script>
}