@model TwolipsDating.ViewModels.QuestionViewModel

@if (User.Identity.IsAuthenticated)
{
    <div class="modal fade" id="modalQuestionViolation" tabindex="-1" role="dialog" aria-labelledby="modalQuestionViolationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalQuestionLabel">Flag a question</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.QuestionViolation.ViolationTypeId, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.QuestionViolation.ViolationTypeId,
                                 new SelectList(Model.QuestionViolation.ViolationTypes, "Key", "Value"),
                        new { @class = "form-control", data_placeholder = "What's the problem?" })
                    </div>
                    @Html.HiddenFor(m => m.QuestionId)
                    <div id="violation-error" class="alert alert-danger" role="alert">
                        <p id="violation-error-text">Something happened which prevented your violation from being submitted.</p>
                    </div>
                    <div id="violation-success" class="alert alert-success" role="alert">
                        <p>Thanks for the report! You won't see this question again until we review it.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="button-violation-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="button-violation-submit" onclick="onAddQuestionViolation(event, this)" type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
}