@model int

<div class="text-center trivia-rating-bar">
    @if (Model == 1)
    {
        <span title="Extremely easy - awards 10 bonus points" class="custom-tooltip badge marker-1 current">10</span>
    }
    else
    {
        <span title="Extremely easy - awards 10 bonus points" class="custom-tooltip badge marker-1">10</span>
    }

    @if (Model == 2)
    {
        <span title="Easy - awards 15 bonus points" class="custom-tooltip badge marker-2 current">15</span>
    }
    else
    {
        <span title="Easy - awards 15 bonus points" class="custom-tooltip badge marker-2">15</span>
    }

    @if (Model == 3)
    {
        <span title="Average - awards 20 bonus points" class="custom-tooltip badge marker-3 current">20</span>
    }
    else
    {
        <span title="Average - awards 20 bonus points" class="custom-tooltip badge marker-3">20</span>
    }

    @if (Model == 4)
    {
        <span title="Difficult - awards 25 bonus points" class="custom-tooltip badge marker-4 current">25</span>
    }
    else
    {
        <span title="Difficult - awards 25 bonus points" class="custom-tooltip badge marker-4">25</span>
    }

    @if (Model == 5)
    {
        <span title="Extremely difficult - awards 30 bonus points" class="custom-tooltip badge marker-5 current">30</span>
    }
    else
    {
        <span title="Extremely difficult - awards 30 bonus points" class="custom-tooltip badge marker-5">30</span>
    }
</div>

