@model int

<span class="text-center trivia-dashboard-rating-bar">
    @if (Model == 1)
    {
        <span class="label marker-1">VERY EASY</span>
        <span title="Extremely easy - 10 bonus points" class="custom-tooltip label label-default">10 POINTS</span>
    }
    else if (Model == 2)
    {
        <span class="label marker-2">EASY</span>
        <span title="Easy - 15 bonus points" class="custom-tooltip label label-default">15 POINTS</span>
    }
    else if (Model == 3)
    {
        <span class="label marker-3">AVERAGE</span>
        <span title="Average - 20 bonus points" class="custom-tooltip label label-default">20 POINTS</span>
    }
    else if (Model == 4)
    {
        <span class="label marker-4">HARD</span>
        <span title="Difficult - 25 bonus points" class="custom-tooltip label label-default">25 POINTS</span>
    }
    else if (Model == 5)
    {
        <span class="label marker-5">VERY HARD</span>
        <span title="Extremely difficult - 30 bonus points" class="custom-tooltip label label-default">30 POINTS</span>
    }
</span>

