@model IReadOnlyCollection<TwolipsDating.ViewModels.TrendingQuizViewModel>

<div class="col-sm-6 col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h4 class="panel-title"><i class="fa fa-line-chart fa-lg fa-fw"></i> Trending Now</h4>
        </div>
        <div class="list-group">
            @foreach (var quiz in Model)
            {
                <a style="font-size: 13px" class="list-group-item" href="@Url.Action("quiz", "trivia", new { id = quiz.QuizId })">
                    @*@if (quiz.PercentageOfTrending > 50)
                        {
                            <i class="text-danger fa fa-fire fa-lg fa-fw"></i>
                        }
                        else
                        {
                            <i class="text-warning fa fa-fire fa-lg fa-fw"></i>
                        }*@
                    <img src="@quiz.ThumbnailImagePath" width="90" height="45" />
                    @quiz.QuizName
                </a>
            }
        </div>
    </div>
</div>