<div class="col-md-8 col-md-offset-2 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <img src="~/Content/MailSent.png" alt="Mail has been sent" />
            <h3>You need to confirm your email address before you can use this feature.</h3>
            <p>If you don't see it, check your spam folders.</p>
            <p>If you need help, connect with us on Twitter, Facebook, and Google+.</p>
            <div class="row" style="margin-left: 0; margin-right: 0;">
                <div class="col-sm-4">
                    <a href="http://twitter.com/twolipsdating" style="width: 100%;" class="btn btn-info" title="Follow us on Twitter">
                        <img src="~/Content/tw-icon-16.png" />&nbsp;&nbsp;Twitter
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="http://facebook.com/twolipsdating" style="width: 100%;" type="submit" class="btn btn-primary" title="Like us on Facebook">
                        <img src="~/Content/fb-icon-16.png" />&nbsp;&nbsp;Facebook
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="http://plus.google.com/+twolipsdating" style="width: 100%;" class="btn btn-danger" title="Follow us on Google+">
                        <img src="~/Content/gp-icon-16.png" />&nbsp;&nbsp;Google
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
