@model TwolipsDating.ViewModels.DropDownMenuViewModel
<div id="dropdown-main" class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="glyphicon glyphicon-user"></i>&nbsp;@Model.ActiveMenuText&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="@Url.Action("index", "home")"><i class="glyphicon glyphicon-home"></i>&nbsp;Dashboard</a></li>
        <li><a href="@Url.Action("index", "profile", new { id = (int?)null })"><i class="glyphicon glyphicon-user"></i>&nbsp;Profile</a></li>
        <li><a href="@Url.Action("received", "message")"><i class="glyphicon glyphicon-envelope"></i>&nbsp;Messages</a></li>
        @*
            <li><a href="#"><i class="glyphicon glyphicon-search"></i>&nbsp;Search</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-tower"></i>&nbsp;Challenges</a></li>
        *@
        <li class="divider"></li>
        <li><a href="@Url.Action("index", "manage")"><i class="glyphicon glyphicon-cog"></i>&nbsp;Settings</a></li>
    </ul>
</div>