@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav navbar-right" style="padding-right: 60px;">
    <li>
        <a href="@Url.Action("login", "account")" id="loginLink" class="btn btn-default btn-sm navbar-btn" title="Your friends are waiting for you">
            <i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;Log in
        </a>
    </li>
</ul>
<p class="navbar-text navbar-right">Already have an account?&nbsp;&nbsp;</p>