@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav navbar-right" style="padding-right: 60px;">
    <li>
        <p class="navbar-text">Already have an account?</p></li>
    <li>
        <a href="@Url.Action("login", "account")" id="loginLink" class="navbar-link" title="Your friends are waiting for you">
            <i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;Sign in
        </a>
    </li>
</ul>