@using Microsoft.AspNet.Identity

<div class="pull-right">
    <h5>
        Already have an account?
        <a href="@Url.Action("login", "account")" id="loginLink" title="Your friends are waiting for you">
            Sign in
        </a>
    </h5>
</div>
<div class="clearfix"></div>