<div class="panel panel-default">
    <div class="panel-body text-center">
        <img src="http://placehold.it/256x256" />
    </div>
    @*
        <div class="panel-footer">
            <div class="text-center">
                <a href="#"><small>Learn how to support us without ads</small></a>
            </div>
        </div>
    *@
</div>