@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "500 Internal Server Error";
}

<h3><strong>500 Internal Server Error</strong></h3>
<h3>Something really bad happened. It probably isn't your fault. Maybe.</h3>

