@model IReadOnlyList<TwolipsDating.ViewModels.DashboardViewModel>

@{
    ViewBag.Title = "twolips - your dashboard";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = "Dashboard" })
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    var feedItem = Model[i];

                    if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.Message)
                    {
                        Html.RenderPartial("_FeedItemMessagesPartial", feedItem.MessageFeedItem);
                    }
                    else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.UploadedPictures)
                    {
                        Html.RenderPartial("_FeedItemUploadedPicturesPartial", feedItem.UploadedImageFeedItem);
                    }
                    else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.ReviewWritten)
                    {
                        Html.RenderPartial("_FeedItemReviewWrittenPartial", feedItem.ReviewWrittenFeedItem);
                    }

                    if (i < Model.Count - 1)
                    {
                        <hr />
                    }
                }

                @*
                    <p>
                        <a href="#">jskiles1</a> completed the challenge <a href="#" class="label label-primary">Bring Out Your Dead</a>
                        <br />
                        <small>3 minutes ago</small>
                    </p>
                    <p>
                        <a href="#">jskiles1</a> defeated <a href="#">joanne123</a> in a game of <a href="#" class="label label-primary">Chicken</a>
                        <br />
                        <small>5 hours ago</small>
                    </p>
                    <p>
                        <a href="#">jskiles1</a> made an announcement: <strong>all I do is win!</strong>
                        <br />
                        <small>7 hours ago</small>
                    </p>
                *@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // loop through all share review links and turn them into valid popovers with share buttons
            $("a[id^='share-profile-link']").popover({
                content: function () {
                    var match = $(this).attr('id').match(new RegExp(/[0-9 -()+]+$/)); // extract the review ID
                    var shareButtonsDiv = "#share-profile-buttons-popover-" + match[0];
                    var clone = $(shareButtonsDiv).clone(true);
                    var cloneUnhide = clone.removeClass('hide');
                    return cloneUnhide.html();
                    //return $(shareButtonsDiv).html();
                }
            });
            $("a[id^='share-profile-link']").click(function (e) {
                e.preventDefault(); // prevents the page from jumping to the top on click
            });
        });
    </script>
}