@model TwolipsDating.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "twolips - your dashboard";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="glyphicon glyphicon-home"></i>&nbsp;Dashboard&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i>&nbsp;Dashboard</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;Profile</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-search"></i>&nbsp;Search</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-tower"></i>&nbsp;Challenges</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i>&nbsp;Settings</a></li>
            </ul>
        </div>
        <div class="pull-right">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">Feed</a></li>
                <li role="presentation"><a href="#">Achievements</a></li>
                <li role="presentation"><a href="#">Awards</a></li>
                <li role="presentation"><a href="#">Reviews</a></li>
            </ul>
        </div>
    </div>
</div>
<p>You're logged in. This is your dashboard. Say hi, dashboard. Hi!</p>