@model TwolipsDating.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "twolips - your dashboard";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = "Dashboard" })
        <div class="pull-right">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">Feed</a></li>
                <li role="presentation"><a href="#">Achievements</a></li>
                <li role="presentation"><a href="#">Awards</a></li>
                <li role="presentation"><a href="#">Reviews</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <a href="#">jskiles1</a> completed the challenge <a href="#" class="label label-primary">Bring Out Your Dead</a>
            <br />
            <small>3 minutes ago</small>
        </p>
        <p>
            <a href="#">jskiles1</a> defeated <a href="#">joanne123</a> in a game of <a href="#" class="label label-primary">Chicken</a>
            <br />
            <small>5 hours ago</small>
        </p>
        <p>
            <a href="#">jskiles1</a> made an announcement: <strong>all I do is win!</strong>
            <br />
            <small>7 hours ago</small>
        </p>
    </div>
</div>