@model IReadOnlyCollection<TwolipsDating.ViewModels.DashboardViewModel>

@{
    ViewBag.Title = "twolips - your dashboard";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = "Dashboard" })
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                @foreach (var feedItem in Model)
                {
                    if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.Message)
                    {
                        Html.RenderPartial("_FeedItemMessagesPartial", feedItem.MessageFeedItem);
                    }
                    else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.UploadedPictures)
                    {
                        Html.RenderPartial("_FeedItemUploadedPicturesPartial", feedItem.UploadedImageFeedItem);
                    }
                    else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.ReviewWritten)
                    {
                        Html.RenderPartial("_FeedItemReviewWrittenPartial", feedItem.ReviewWrittenFeedItem);
                    }
                }

                @*
                    <p>
                        <a href="#">jskiles1</a> completed the challenge <a href="#" class="label label-primary">Bring Out Your Dead</a>
                        <br />
                        <small>3 minutes ago</small>
                    </p>
                    <p>
                        <a href="#">jskiles1</a> defeated <a href="#">joanne123</a> in a game of <a href="#" class="label label-primary">Chicken</a>
                        <br />
                        <small>5 hours ago</small>
                    </p>
                    <p>
                        <a href="#">jskiles1</a> made an announcement: <strong>all I do is win!</strong>
                        <br />
                        <small>7 hours ago</small>
                    </p>
                *@
            </div>
        </div>
    </div>
</div>