@{
    ViewBag.Title = "Learn more about finding your match";
    ViewBag.Description = "Twolips Dating is a community where users can honestly review their dates, social meetups, and engagements obtained through online friend-finding and dating services. We hope to eventually become the one-stop-shop for curious and active daters who enjoy and appreciate the need for researching potential mates in a similar manner to researching a restaurant. Instead of waiting to find out if your evening will be wasted on a deadbeat, why not take a few minutes to learn about the person taking you to dinner?";
}

<div class="page-header">
    <h1>About <small>Twolips Dating</small></h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">What is Twolips Dating?</h4>
    </div>
    <div class="panel-body">
        <p><strong>TL;DR: This is simply an experimental community created by one person with a mission to improve online dating.</strong></p>
        <p>
            Hey. This is my experiment. I'm just some guy attempting to change online dating for the better. I want to build a dating community where people meet each other based on actual merits and traits
            rather than relying on matching algorithms. I feel like the current crop of dating sites (eharmony, okcupid, plenty of fish, and the many others) have the whole "meeting each other" thing backward.
            The entire process feels inorganic as if we're supposed to study someone's dossier prior to even speaking to them.
        </p>
        <p>
            When signing up for dating services, we're asked to provide a description of what we are. What's your gender? What's your hair color? How old are you? How often do you drink alcohol? Do you like to skateboard?
            I could keep going with an infinite number of questions, but I'm sure you get the point. These are merely attributes that describe <strong>what</strong> we are and don't provide a potential friend or companion
            any clue of <strong>who</strong> we are. And that's where I see an opportunity to change some things (or at the very least have fun while building this experiment). I want to build up a community
            without an intense focus on the color of one's skin or hair, their height, their eye colors, how of then they read, and other wholly unimportant traits.
        </p>
        <p>
            I say "unimportant" because I think that these self-provided descriptions are secondary to becoming colleagues, acquaintances, friends, or lovers. I'm personally (and I'm sure others are) guilty of
            avoiding people based on these types descriptions, and I've come to believe that it simply isn't fair. It isn't fair to ourselves and it isn't fair to potential friends that we've discarded before giving
            balanced treatment. Instead of concentrating on these superficial descriptions for purposes of utilizing "advanced proprietary matching algorithms" or some equally fancy title, I want to build a place where people
            interact with each other to achieve goals together.
        </p>
        <p>
            OK, that's nice, so where do we begin? Well, I'm in the process of building this site to give people a place where they can show off <strong>who</strong> they are. But what's that really mean? I'm still
            in the process of figuring it out, but I have some fun ideas. Social networks provide an excellent opportunity for people to interact, communicate, and learn about each other based on a user's actions and networking history.
            By viewing a user's social profile, it's easy to figure out who someone really is and if we might get along with them. Do you like Teenage Mutant Ninja Turtles? Then you'll probably get along with that cute
            person who has a profile picture of April O'Neil. Send him or her a message and review their profile to offer some constructive criticism. Maybe they'll appreciate it enough to reciprocate.
        </p>
        <p>
            That's just the beginning. I want this site to eventually provide opportunities for people to meet through online challenges, games, and other interactive activities. Maybe you'll participate in a two person activity
            with someone. Further, maybe that person will turn out to be a really good friend that you would have otherwise avoided based on superficial descriptions. Who would have thought that you would be attracted to someone with a clown
            obsession even though you were traumatized as a kid by clowns?
        </p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">How does it work?</h4>
    </div>
    <div class="panel-body">
        <p><strong>TL;DR: Sign up for free to maintain a social network profile, participate in community challenges, earn badges/achievements/rewards, and play some games or trivia to meet people through interactions.</strong></p>
        <p>
            Many people are already familiar with the whole social networking craze on the modern web, so I don't need to explain the basics. My current plans are to support common social activities like profiles, uploaded images,
            private messages, updates, and maybe even thumbs up/downs. That said, I don't want this place to become stuck in the normal mold. I'm planning to introduce some more interactive and collaborate activities in which users
            can participate in order to get to know someone better. Activities might include individual and group challenges, individual and group games, trivia questions, and behavioral questions.
        </p>
        <p>
            Challenges could include something like "review 10 profiles," "upload 10 images," "find all the community Easter eggs," all of which would reward a badges and achievements to be displayed on your profile.
            For the most part, these are just fun things to collect to encourage engagement throughout the community. At the very least, you would be able to build up a profile which shows that you are dedicated to the
            community in one way or another. This helps to establish a reputation so that other users know you aren't just a bot, a player, or a fake profile.
        </p>
        <p>
            Games could include in browser basic games like checkers, chess, mini golf, and various card games. I don't envision something to replace much larger social gaming sites, but I think it would be interesting to
            encourage people to meet each other through some of these games. Relationships built from teamwork and achievements are probably stronger than those built on matching and messaging. That's just my guess, though. Winning
            games or performing certain ways within a game can earn you badges and achievements to show off in your profile. This could show others that you like to play a certain way or that you're really good at chess (intelligent).
        </p>
        <p>
            I'd also like to allow people to answer trivia questions (maybe even speed trivia with teams?) in addition to answering some behavioral questions which helps build a more established social profile to show off.
            I can imagine some features that would tag a user with specific attributes such as "intellectual" or "determined" based on the answers to trivia and behavioral questions. In contrast to simple attributes like
            hair color and frequency of certain habits, I think that tags based on answers to questions in addition to challenge and game badges can allow users to build up a strong and attractive profile.
        </p>
        <p>
            Without creating an account, you can search and view profiles, but you can't interact with them. If you want to participate in the community, please consider registering an account.
            All features of the community are free and available to any user who takes the time to register a user account through the account system or through various social networks such as
            Facebook, Twitter, or Google&#43;.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Why would I use this service?</h4>
    </div>
    <div class="panel-body">
        <p>
            Hopefully the answer to this question is, "because it's fun to use, and I want to meet interesting people." Seriously though, I want to make this place interesting and engaging. You should come here because
            you want to, not because you have to. I get the feeling that many people use online dating because they feel like there is no other choice on the path towards friendships. It's silly that we force ourselves
            in to something that we don't find engaging. Come here to talk to dedicated people. Come here to play some games with people in the hopes that you can meet up with them one day. Build some lasting relationships
            around real interactions. Most importantly, have fun while doing so.
        </p>
    </div>
</div>
