@{
    ViewBag.Title = "Our privacy policy";
    ViewBag.Description = "We greatly respect the sensitive and private nature of any information that may identify yourself and others and are committed to protecting it. We will act in accordance to data, information, and privacy laws where applicable. We know that you are trusting us with your information and will act accordingly.";
    ViewBag.ImageUrl = Url.Content("~/Content/twolipsicon-white-180x180.png");
}

<div class="page-header">
    <h1>About <small>@ViewBag.Title</small></h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h4 class="panel-title">This privacy policy is current as of March 12, 2015.</h4>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">About the Author</h4>
    </div>
    <div class="panel-body">
        <p>
            Privacy policies are always a bit daunting when attempting to read. Let's be honest, the overwhelming majority of people never read them, and who can blame them?
            The language is often long-winded and unapproachable. It's unfortunate because with an always increasing amount of information collected in the newly minted "big data"
            world, our privacy and ultimately the sense of "self" are up for grabs by the highest bidder. This stuff is important. Take just a few minutes to read it, and I think
            you'll be satisfied. That's why I want you to read what I have to say about how I plan to treat the data within this system. You will read it, right?
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">The Basics</h4>
    </div>
    <div class="panel-body">
        <p>Twolips Dating is an experimental community where users can meet people through genuine interactions rather than matching algorithms.</p>
        <p>
            We greatly respect the sensitive and private nature of any information that may identify yourself and others and are committed to protecting it. We will act in accordance
            to data, information, and privacy laws where applicable. We know that you are trusting us with your information and will act accordingly.
        </p>
        <p>
            This policy page will attempt to describe any information that is collected when you use this service, how the information is utilized behind the scenes, how you can control
            which data is stored in this service, which data is retained after account deletion, and the guidelines regarding privacy in any user generated reviews.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Information Definitions</h4>
    </div>
    <div class="panel-body">
        <p>
            Personally identifying information is defined as any information that can be used to identify a specific person's identity or location. This includes but is not limited to real names,
            physical addresses, phone numbers, and e-mail addresses.
        </p>
        <p>
            Non-identifying information is defined as any information that cannot be used to identify a specific person's identity or location. Examples include information collected as a result of
            your visits to and use of this service, reviews written, messages sent, images uploaded, and comments added.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">How Information is Collected</h4>
    </div>
    <div class="panel-body">
        <p>
            This service collects information primarily in two different ways. First, this service will accept information that is directly input by you and the community at large. Second, this service
            will silently collect information about how the service is utilized by you and others.
        </p>
        <p>
            Any information that you or others directly input into this service may be stored for registration and login purposes. Additionally, messages, user reviews, and images uploaded will contain information directly input by the community.
            You always have the option of refusing to provide any information that you deem as too private to be entered into the service. If you refuse, you also understand that you may be unable to perform certain
            activities that would otherwise require said information (such as requiring a username and e-mail address to create an account).
        </p>
        <p>If you ask for assistance, you understand that non-identifying information may need to be communicated between interested parties in order to serve your request accurately and efficiently.</p>
        <p>
            That said, there is a possibility that personally identifying information such as real names, addresses, phone numbers, and e-mail addresses may be published in a user created review or uploaded image. However, doing so is against
            our terms of service and general code of conduct. It is our goal to remove any publicly displayed personally identifying information in reviews and uploaded images. You have the option of reporting any content that
            contains personally identifying information which breaches the conditions outlined in the terms of service.
        </p>
        <p>
            When you visit this site, statistics about what and when you access content may be aggregated for development and marketing purposes. This is always anonymous, non-identifying information which may or may not
            be stored in our services and affiliate services.
        </p>
        <p>
            The methods of authentication employed by this service involves the use of cookies and cookie tracking. This service provides automatic login after initial login through the use of storing encrypted credentials in cookies. You
            should understand that without cookies enabled, certain features of this service (such as automatic login) may not be available.
        </p>
        <p>
            This service uses third party analytics to collect information about the habits and behaviors of the users of this service. The third party analytics collected by this service do not share any personally
            identifying information with us. You understand that this service has no control over what information is collected, how information is collected, and for how long information is collected by any third
            party analytics that this service utilizes.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">How Information is Utilized</h4>
    </div>
    <div class="panel-body">
        <p>
            We will never share your personal information with any third parties (except for contractors and vendors who may be handling the information with our explicit direction)
            unless you explicitly request that we do so.
        </p>
        <p>
            Whenever you are required to enter personally identifying information, you will be clearly prompted and notified that the service will be collecting said information. We aim to never leave you
            guessing whether or not your information is being collected or not. Contact us immediately if you suspect that this goal is not being met.
        </p>
        <p>Some of the ways that this service will utilize your personal information is below:</p>
        <ul>
            <li>Enable registration to this service and its features (if you utilize your Facebook, Twitter, or Google+ accounts, we will not collect certain information)</li>
            <li>Maintain and administer this service and its features to improve all experiences therein</li>
            <li>Communicate with you to offer assistance with services and related issues therein</li>
            <li>Satisfy any legal, regulatory, or auditing requirements that this service may be subject to</li>
        </ul>
        <p>All account passwords associated with user accounts are hashed and salted appropriately.</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">When this Privacy Policy Changes</h4>
    </div>
    <div class="panel-body">
        <p>
            We may update this privacy policy at any time and for any reason. Please make a habit of reviewing this privacy policy upon each notification of a change.
        </p>
        <p>
            Any time the contents contained within this privacy policy change (even if the only changes include the ordering of the existing information), you will be notified via the e-mail address
            associated with the account of which you own. If you do not maintain an account with this service, then this service will have no way of notifying you of any changes to this privacy policy.
            It is the responsibility of each account holder to maintain and confirm a valid e-mail address.
        </p>
        <p>The current "as of" date of this privacy policy is always visible on this page and in the latest e-mail communication sent out as a result of a privacy policy change.</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">When and What Information is Removed from this Service</h4>
    </div>
    <div class="panel-body">
        <p>At your discretion, you may request that your account be removed from this service. The following actions occur as a result of your request:</p>
        <ul>
            <li>All favorite profiles are removed from the account</li>
            <li>All favorite tags are removed from the account</li>
            <li>All images uploaded by you are permanently deleted</li>
            <li>All relevant personally identifying information such as phone numbers and e-mail addresses are removed from the account</li>
            <li>The account's user name will be anonymized</li>
            <li>The above will result in any reviews, messages, comments, or profiles added by you to be related to an anonymous user name</li>
            <li>The e-mail address and user name associated with the account will immediately become available for another user to register with</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Guidelines to Privacy and Reviews</h4>
    </div>
    <div class="panel-body">
        <ul>
            <li>Reviews and comments should not contain any personally identifying information about anyone. This includes the user that wrote the review (or comment) and the individual for which the review is written.</li>
            <li>We repeat, do not under any circumstances include personally identifying information in reviews that you write. This includes real names, physical addresses, phone numbers, and e-mail addresses.</li>
            <li>Reviews and comments about individuals should not reveal who you are or who they are. If this guideline is violated, we will do our best to remove them from the service.</li>
            <li>
                Reviews may contain any information that cannot be used to personally identify individuals. Some examples are days, times, and locations of dates, descriptions of the activities, and what clothes
                your date was wearing. Obviously, that list is not exhaustive, but we hope that you understand the distinction.
            </li>
        </ul>
    </div>
</div>