@{
    ViewBag.Title = "Our Terms of Service";
    ViewBag.Description = "We encourage active and frequent participation by adding date profiles, writing reviews, commenting on reviews, and reporting observed violations. Even though we strongly encourage you to participate in any way that you can, there are some guidelines that must be followed when adding content to this service.";
}

<div class="page-header">
    <h1>About <small>@ViewBag.Title</small></h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Addressing You Personally</h4>
    </div>
    <div class="panel-body">
        <p>
            If you haven't read the @Html.ActionLink("About", "index", "about") page yet, I encourage you to do so.

            Twolips Dating seeks to be the most entertaining and accurate way for you to discover those who may or may not provide you with friendship and relationships. I created this service to increase
            the amount of good experiences and relationships through online dating. Additionally, I hope that you will be able to save your valuable time by avoiding deadbeats
            and scammers who seem to be all too common in the online world. If you see anything that may be violating our policies or our mission, please contact us immediately.
        </p>
        <p>
            This is a community where users can hope to meet new people through real interactions with the expressed interest of becoming friends, colleagues, coworkers, or lovers.
            I hope this experiment will become the one-stop-shop for curious and active daters who enjoy and appreciate the need for more than just matching algorithms based on a few traits.
            Instead of relying on matching algorithms and services which nag you to pay for even basic messaging functionality, why not try out something more engaging?
        </p>
        <p>
            The purpose of our community is to build healthy relationships between individuals, encourage good dating behaviors, and to serve as a warning to those who may
            be unaware of any &ldquo;bad apples&rdquo; out there.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Allowed Content and Moderation</h4>
    </div>
    <div class="panel-body">
        <p>
            We encourage active and frequent participation by creating an account and profile, messaging other users, writing reviews for other user profiles, commenting on reviews, uploading images,
            and reporting observed violations. Even though we strongly encourage you to participate in any way that you can, there are some guidelines that must be followed when adding content to this service.
        </p>
        <p>
            The following are examples (but not an exhaustive list) of the content that you should not input into this service:
        </p>
        <ul>
            <li>Personally identifying information about yourself or other users in reviews, comments, or violation reports</li>
            <li>Threats or harassment targetted towards any other member of the community or any member of any other dating site</li>
            <li>Any illegal content such as fraud or phishing</li>
            <li>Spam, repeated content, nonsense content, or content that is obviously related to marketing or advertising</li>
            <li>Identity theft related to users who impersonate or attempt to trick others for deceptive purposes</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Content Ownership</h4>
    </div>
    <div class="panel-body">
        <p>
            Any personally identifying information input into this service is wholly owned by the user. This includes (but is not limited to) phone numbers, addresses, and e-mail addresses.
            As the owner of such content, you may request that the information be redacted, removed, or otherwise destroyed at any time for any reason.
        </p>
        <p>
            Any content directly input into this service related to messages, uploaded images, reviews, comments, violation reports, taglines, descriptions, and violation reports immediately becomes the property of
            Twolips Dating. By "property of," I refer only to the copy of the content that is directly input to the system. For example, uploading an image of yourself creates a copy on our servers.
            That copy becomes the property of the service so that we can properly alter or remove any offensive content or content that violates our terms of service. I have no intentions of using your uploaded
            images for any reason other than to display it in the service according to our guidelines.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Privacy Policy</h4>
    </div>
    <div class="panel-body">
        <p>We encourage you to regularly review the @Html.ActionLink("privacy policy", "privacy", "about") documented on this service.</p>
    </div>
</div>