html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 217px;
    padding-bottom: 25px;
    background-color: #E9EAED;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* styles for validation helpers */
.field-validation-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .field-validation-error > p,
    .field-validation-error > ul {
        margin-bottom: 0;
    }

        .field-validation-error > p + p {
            margin-top: 5px;
        }

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

textarea.input-validation-error {
    outline: none !important;
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .validation-summary-errors > p,
    .validation-summary-errors > ul {
        margin-bottom: 0;
    }

        .validation-summary-errors > p + p {
            margin-top: 5px;
        }

.validation-summary-valid {
    display: none;
}

.jumbotron {
    color: #fff;
    padding: 10px;
    background-color: transparent;
}

    .jumbotron a {
        color: #fff;
        font-weight: bold;
        text-decoration: underline;
    }

.footer p, .footer h4, .footer h5 {
    color: #fff;
}

.footer hr {
    border-top: 1px dotted #292929;
    color: #fff;
    background-color: #fff;
}

.footer-bottom {
    padding-top: 10px;
    padding-bottom: 3px;
    background-color: #222;
}

.footer-bottom-social {
    padding-top: 8px;
    padding-bottom: 5px;
    background-color: #fff;
    box-shadow: 0 -1px 2px 2px rgba(0, 0, 0, 0.05);
}

    .footer-bottom-social a:hover {
        text-decoration: none !important;
    }

.footer p a {
    color: #c44d40;
}

.footer-bottom a {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-top li:last-child {
    border-bottom: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.marketing-panel {
    width: 76px;
    height: 76px;
    border-radius: 38px;
    border: 1px solid #d5d5d5;
    margin: 0 auto 15px;
}

    .marketing-panel .marketing-icon {
        font-size: 32px;
        line-height: 76px;
        position: relative;
        color: #008cba;
    }

.navbar-right {
    margin-right: 0;
}

.tags a {
    margin-bottom: 4px;
}

.conversation-item .well-sm {
    padding-bottom: 15px;
}

.conversation-item .circular-image-wrapper {
    width: 50px;
    height: 50px;
}

.conversation-item-time-ago {
    color: #999;
}

.conversation-item a {
    color: #222;
    text-decoration: none;
}

    .conversation-item a:hover {
        color: #222;
    }

.conversation-header .circular-image-wrapper {
    width: 76px;
    height: 76px;
    margin-bottom: 15px;
}

.search-result .circular-image-wrapper {
    width: 48px;
    height: 48px;
}

.list-group-item .circular-image-wrapper {
    width: 48px;
    height: 48px;
}

.circular-image-wrapper {
    width: 32px;
    height: 32px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

.circular-image {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.rows-middle tbody > tr > td {
    vertical-align: middle;
}

.wrap-long-lines {
    word-wrap: break-word;
}

.wrap-long-lines-table {
    table-layout: fixed;
    width: 100%;
}

    .wrap-long-lines-table td {
        word-wrap: break-word;
    }

.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popover {
    background-color: #fff;
    color: #222;
    padding: 0;
    font-size: 13px;
    border: 1px solid #333;
}

.popover-title {
    color: #fff;
    background-color: #333;
    border-bottom: 1px solid #ddd;
}

.popover.bottom > .arrow:after {
    border-bottom-color: #333;
}

.popover hr {
    margin-top: 5px;
    margin-bottom: 7px;
    color: #ddd;
    background-color: #ddd;
    border-color: #ddd;
}

.popover-content {
    padding: 0;
}

    .popover-content .popover-scroll {
        max-height: 300px;
        overflow-y: scroll;
        width: 250px;
    }

    .popover-content .custom-popover-content {
        padding: 10px;
    }

.ad {
    margin-bottom: 10px;
}

.recently-completed-quizzes .profile-info-wrapper {
    margin-top: 0;
    line-height: 15px;
}

.profile-info-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}

.search-result .profile-info-wrapper {
    margin-top: 0;
    line-height: 15px;
}

.name-and-location {
    font-size: 14px;
}

.search-result .rating {
    font-size: 12px;
}

.search-result hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-result-quiz-rating-bar, .trivia-dashboard-rating-bar {
    font-size: 14px;
    display: inline-block;
}

    .search-result-quiz-rating-bar .badge, .trivia-dashboard-rating-bar .badge {
        font-size: 13px;
        padding: 5px;
        border-radius: 0;
    }

    .search-result-quiz-rating-bar .current, .trivia-dashboard-rating-bar .current {
        padding: 10px;
        font-size: 15px;
    }

.trivia-rating-bar {
    font-size: 16px;
}

    .trivia-rating-bar .badge {
        font-size: 15px;
        padding: 10px;
        border-radius: 0;
    }

    .trivia-rating-bar .marker-1, .search-result-quiz-rating-bar .marker-1, .trivia-dashboard-rating-bar .marker-1 {
        background: #43AC6A;
    }

    .trivia-rating-bar .marker-2, .search-result-quiz-rating-bar .marker-2, .trivia-dashboard-rating-bar .marker-2 {
        background: #94ac43;
    }

    .trivia-rating-bar .marker-3, .search-result-quiz-rating-bar .marker-3, .trivia-dashboard-rating-bar .marker-3 {
        background: #E99002;
    }

    .trivia-rating-bar .marker-4, .search-result-quiz-rating-bar .marker-4, .trivia-dashboard-rating-bar .marker-4 {
        background: #ff7500;
    }

    .trivia-rating-bar .marker-5, .search-result-quiz-rating-bar .marker-5, .trivia-dashboard-rating-bar .marker-5 {
        background: #F04124;
    }

    .trivia-rating-bar .current {
        padding: 20px;
        font-size: 25px;
    }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.panel {
    margin-bottom: 10px;
}

.user-to-follow {
    position: relative;
    margin-bottom: 15px;
}

    .user-to-follow img {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 5px;
    }

    .user-to-follow .user-to-follow-name {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user-to-follow .user-to-follow-location {
        color: #999;
    }

.share-buttons a:hover {
    text-decoration: none;
}

.quiz-body hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.profile-tag-suggestion-list-item {
    margin-bottom: 3px;
}

    .profile-tag-suggestion-list-item .profile-tag {
        margin-right: 10px;
    }

    .profile-tag-suggestion-list-item .suggesting-users {
        overflow: hidden;
    }

        .profile-tag-suggestion-list-item .suggesting-users .separator {
            margin-top: 12px;
            border-top: 1px solid #eee;
            overflow: hidden;
            display: block;
        }

        .profile-tag-suggestion-list-item .suggesting-users .user-images {
            margin-left: 9px;
        }

            .profile-tag-suggestion-list-item .suggesting-users .user-images .user-image {
                margin-left: 1px;
            }


@media (max-width: 767px) {
    .text-center-xs {
        text-align: center;
    }
}

.profile-banner-info {
    line-height: 12px;
    font-weight: 300;
    padding-top: 4px;
}

    .profile-banner-info .user-name {
        font-size: 22px;
        font-weight: 400;
    }

    .profile-banner-info .rating {
        font-size: 18px;
    }

    .profile-banner-info .user-info, 
    .profile-banner-info .user-location, 
    .profile-banner-info .user-title {
        font-size: 18px;
    }

.chosen-container-multi .chosen-choices {
    border-radius: 0 !important;
}

.chosen-container-multi .search-field input {
    padding-left: 10px !important;
}

.review-rating-color {
    color: #D08002;
}

.feed-item-headline {
    line-height: 14px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
    margin-top: 0;
}

    .feed-item-headline small {
        color: #999;
    }

.feed-item-buttons {
    margin-top: 0;
}

.feed-item-comment {
    margin-bottom: 0;
}

.pagination {
    margin: 0;
}

    .pagination > li > a {
        color: #333;
        border: 1px solid #eee;
    }

        .pagination > li > a:hover {
            background-color: #eee;
        }

.achievement-group-description {
    color: #999;
}

.achievement-container .achievement-box-complete {
    border-top: 2px solid #43AC6A;
    border-left: 2px solid #43AC6A;
    border-right: 2px solid #43AC6A;
}

.achievement-container .achievement-box-not-in-progress {
    border-top: 2px dashed #ccc;
    border-left: 2px dashed #ccc;
    border-right: 2px dashed #ccc;
}

.achievement-container .achievement-box-in-progress {
    border-top: 2px dashed #e99002;
    border-left: 2px dashed #e99002;
    border-right: 2px dashed #e99002;
}

.achievement-container .status-marker {
    margin: 0;
    padding: 20px 0;
}

.achievement-container .status-marker-complete {
    color: #43AC6A;
}

.achievement-container .status-marker-not-in-progress {
    color: #ccc;
}

.achievement-container .status-marker-in-progress {
    color: #e99002;
}

.achievement-container .progress-text {
    font-size: 13px;
}

.achievement-container .progress-text-complete {
    color: #43AC6A;
}

.achievement-container .progress-text-in-progress {
    color: #e99002;
}

.achievement-container .progress-text-not-in-progress {
    color: #ccc;
}

.achievement-container .progress {
    margin-bottom: 0;
}

.achievement-container .progress-bar {
    line-height: inherit;
}

@media (max-width: 768px) {

    [class*="col-"]:not(:last-child) {
        margin-bottom: 5px;
    }
}

.radio {
    margin: 0;
}

.fa-inverse-twitter {
    color: #55acee;
}

.fa-inverse-facebook {
    color: #3b5998;
}

.fa-inverse-google-plus {
    color: #d34836;
}

.text-instagram {
    color: #2A5B83;
}

.text-twitter {
    color: #55acee;
}

.text-facebook {
    color: #3b5998;
}

.text-google-plus {
    color: #d34836;
}

.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: #469cdd;
}

    .btn-twitter:hover,
    .btn-twitter:focus,
    .btn-twitter:active {
        color: #fff;
        background-color: #469cdd;
        border-color: #3a8fd0;
    }

.btn-facebook {
    color: #fff;
    background-color: #3A5795;
    border-color: #29488a;
}

    .btn-facebook:hover,
    .btn-facebook:focus,
    .btn-facebook:active {
        color: #fff;
        background-color: #29488a;
        border-color: #1f3e7e;
    }

.btn-google-plus {
    color: #fff;
    background-color: #d34836;
    border-color: #c13725;
}

    .btn-google-plus:hover,
    .btn-google-plus:focus,
    .btn-google-plus:active {
        color: #fff;
        background-color: #c13725;
        border-color: #b52b1a;
    }
   
.similar-people .circular-image-wrapper {
    width: 64px;
    height: 64px;
}

.profile-mobile-menu .panel-body {
    padding: 5px;
}

.profile-mobile-menu a {
    color: #555;
    padding: 10px !important;
}

.modal-backdrop {
  z-index: 3;
}