@model IReadOnlyCollection<TwolipsDating.ViewModels.QuizOverviewViewModel>

@{
    ViewBag.Title = "Search for quizzes";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
}

@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    @foreach (var quiz in Model)
                    {
                        @Html.Partial("_QuizOverviewPartial", quiz)
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Trouble finding something?
                    </h4>
                </div>
                <div class="panel-body">
                    <p><i class="glyphicon glyphicon-chevron-right"></i> Try filtering based on tags that interest you.</p>
                    <p><i class="glyphicon glyphicon-chevron-right"></i> <a href="mailto:info@twolipsdating.com">Send us feedback</a> on how to improve searches.</p>
                </div>
            </div>
        </div>
    </div>
}
